<section class="section center">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="card black">
          <div class="card-content white-text">
            <span class="card-title">Register User</span>
            <div class="card-action">
              <div class="row">
                <form action="/users/register" method="post" class="col s12">
                  <div class="input-field col s12">
                    <input type="email" name="username" placeholder="enter email address" style="text-transform: lowercase;"
                      on keyup="javascript:this.value=this.value.toLowerCase();" class="white-text validate" required
                      autofocus>
                    <label for="username"><i class="fas fa-envelope-square"></i> Email:</label>
                  </div>
                  <div class="input-field col s12">
                    <input type="password" name="password" placeholder="enter password" class="white-text validate"
                      required>
                    <label for="password"><i class="fas fa-key"></i> Password:</label>
                  </div>
                  <div class="input-field col s12">
                    <input type="password" name="password2" placeholder="confirm password" class="white-text validate">
                    <label for="password2" required><i class="fas fa-key"></i> Confirm Password:</label>
                  </div>
                  <div class="row rights">
                    <div class="col s12 rights-header">
                      <p><i class="fas fa-user-edit"></i> Edit Rights</p>
                    </div>
                    <div class="col s3">
                      <label>
                        <input type="checkbox" class="form-check-input" name="admin" id="admin" />
                        <span style="font-size: 12px;">Admin</span>
                      </label>
                    </div>
                    <div class="col s3">
                      <label><input type="checkbox" class="form-check-input" name="editOrders" id="editOrders" />
                        <span style="font-size: 12px;">Edit Orders</span></label>

                    </div>
                    <div class="col s3">
                      <label><input type="checkbox" class="form-check-input" name="editProofs" id="editProofs" />
                        <span style="font-size: 12px;">Edit Proofs</span></label>

                    </div>
                    <div class="col s3">
                      <label><input type="checkbox" class="form-check-input" name="editProd" id="editProd" />
                        <span style="font-size: 12px;">Edit Prod.</span></label>

                    </div>
                  </div>
                  <button class="btn waves-effect waves-light black-text" type="submit" name="action"><i class="fas fa-check-square"></i>
                    Submit
                  </button>
                  <a href="/orders" id="cancel" name="cancel" class="btn waves-effect waves-light red black-text"><i
                      class="fas fa-times"></i> Cancel</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>