<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <h3 class="text-center">Register Account</h3>
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="username">Email:</label>
          <input type="email" class="form-control" name="username" style="text-transform:lowercase;" on keyup="javascript:this.value=this.value.toLowerCase();"
            required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" name="password" required>
        </div>
        <div class="row text-center rights">
          <div class="col-12">
            <p>Edit Rights</p>
          </div>
          <div class="form-check col-3">
            <input type="checkbox" class="form-check-input" name="admin" id="admin">
            <label class="form-check-label" for="admin">Admin</label>
          </div>
          <div class="form-check col-3">
            <input type="checkbox" class="form-check-input" name="editOrders" id="editOrders">
            <label class="form-check-label" for="editOrders">Edit Orders</label>
          </div>
          <div class="form-check col-3">
            <input type="checkbox" class="form-check-input" name="editProofs" id="editProofs">
            <label class="form-check-label" for="editProofs">Edit Proofs</label>
          </div>
          <div class="form-check col-3">
            <input type="checkbox" class="form-check-input" name="editProd" id="editProd">
            <label class="form-check-label" for="editProd">Edit Prod</label>
          </div>
        </div>
        <div class="row col-12 mt-4">
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <a href="/orders" id="cancel" name="cancel" class="btn btn-danger">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>