{{#if success_msg}}
<div class="alert alert-success" id="alert">{{success_msg}}<a href="#"><span style="float:right" id="closeBtn">&times;</span></a></div>
{{/if}}

{{#if error_msg}}
<div class="alert alert-danger" id="alert">{{error_msg}}<a href="#"><span style="float:right" id="closeBtn">&times;</span></a></div>
{{/if}}