<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand mr-4" href="/"><img src="images/sugoi_custom_logo.png"><img src="images/sombrio_custom_logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/styles">Styles</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/">Orders</a>
        </li>
      </ul>
    </div>
  </div>
</nav>