<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand mr-2" href="https://custom.sugoi.com/" target="_blank"><img src="/images/sugoi_custom_logo.png"></a>
    <a class="navbar-brand mr-2" href="https://www.sombriocartel.com/en-US/custom" target="_blank"><img src="/images/sombrio_custom_logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-2">
          <a class="nav-link" href="/styles"><i class="fas fa-tshirt"></i> Styles</a>
        </li>
        {{#if user}}
        <li class="nav-item mr-2">
          <a class="nav-link" href="/orders"><i class="fas fa-box-open"></i> Orders</a>
        </li>
        <li class="nav-item dropdown navbar-dark">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">{{#if user.admin}}<i
              class="fas fa-user-shield"></i>{{else}}<i class="fas fa-user"></i>{{/if}} {{user.username}}</a>
          <ul class="dropdown-menu">
            {{#if user.admin}}
            <li><a class="nav-link" href="/users/register"><i class="fas fa-user-plus"></i> Register User</a></li>
            {{/if}}
            <li><a class="nav-link" href="/users/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
          </ul>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/users/login"><i class="fas fa-sign-in-alt"></i> Login</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>