<div style="margin-top: 20px; margin-bottom: 50px;" class="container">
    <h1>Admin Dashboard</h1>
    <div class="row">
        <div class="col-sm-4"> <a href="/admin/users">Users</a></div>
        <div class="col-sm-4">Styles</div>
        <div class="col-sm-4">Staff</div>
        <div class="col-sm-4">QD Graphic Codes</div>
        <div class="col-sm-4">Swatches</div>
        <div class="col-sm-4">Threads</div>
    </div>
</div>