<div style="margin-top: 20px; margin-bottom: 50px;" class="container">
    <h1>Admin Dashboard</h1>
    <div class="row">
        <div class="col s12 m6">
            <div class="row">
                <h5>Database Admin</h5>
                <div class="col s12"> <a href="/admin/users">Users</a></div>
                <div class="col s12"><a href="/admin/styles">Styles</a></div>
                <div class="col s12">Staff</div>
                <div class="col s12">QD Graphic Codes</div>
                <div class="col s12">Swatches</div>
                <div class="col s12">Threads</div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="row">
                <h5>Reports</h5>
                <div class="col s12"><a href="/reports/preprod">PreProd Report</a></div>
                <div class="col s12"><a href="/reports/production">Production Report</a></div>
                <div class="col s12"><a href="/reports/">Custom Art Weekly Charts</a></div>
                <div class="col s12"><a href="/reports/linechart">Custom Art Annual Chart</a></div>
            </div>
        </div>
    </div>
</div>