<div style="margin-top: 20px; margin-bottom: 50px;" class="container">
    <h1>Admin Dashboard</h1>
    <div class="row">
        <div class="col s3"> <a href="/admin/users">Users</a></div>
        <div class="col s3"><a href="/admin/styles">Styles</a></div>
        <div class="col s3"><a href="/reports/preprod">PreProd Report</a></div>
        <div class="col s3"><a href="/reports/production">Production Report</a></div>
        <div class="col s3">Staff</div>
        <div class="col s3">QD Graphic Codes</div>
        <div class="col s3">Swatches</div>
        <div class="col s3">Threads</div>
    </div>
</div>