<div class="main-loader">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
<h5 class='center-align'>Current Styles</h5>
<div class="container" style="margin-top: 20px; margin-bottom: 50px;">
  <table class="display" id="styleTable">
    <thead>
      <tr>
        <th>Style #</th>
        <th>Style Name</th>
        <th>Gender</th>
        <th>Factory</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each styles}}
      {{#each configurations}}
      <tr>
        <td style="font-size: 12px;">{{styleCode}}</td>
        <td style="font-size: 12px;">{{extendedDescription}}</td>
        <td style="font-size: 12px;">{{gender}}</td>
        <td style="font-size: 12px;">{{../factory}}</td>
        <td style="font-size: 12px;">Buttons</td>
      </tr>
      {{/each}}
      {{/each}}
    </tbody>
  </table>
</div>