MONGO_INITDB_ROOT_USERNAME=inituser
MONGO_INITDB_ROOT_PASSWORD=initpass
DB_HOST=mongodb://initUser:initpass@mongo:27017/sugoi-proofs?authSource=admin
AGENDA_DB_HOST=mongodb://initUser:initpass@mongo:27017/agenda?authSource=admin
APP_PORT=port (usually 3000 for node)
NODE_ENV=production
