version: "3"

## Setup Node.js / MongoDB containers
services:
  server:
    build: ./server
    command: npm run dev
	# gitlab url is url to server image registry 
    image: gitlab url
    restart: always
	# pulls port for node app from env file
    ports:
      - "${APP_PORT}:${APP_PORT}"
	# creates volumes to persist data and install node modules
    volumes:
      - ./server:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - mongo
    links:
      - mongo
	# filename for env file (eg .env  see .env.example)
    env_file:
      - env file
  mongo:
    container_name: mongo
    restart: always
    image: mongo
	#mongodb always on 27017
    ports:
      - "27017:27017"
	# volume linked to persist data from database
    volumes:
      - mongodbdata:/data/db
	# set to env files variables
	  environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
    command: mongod --auth
# docker volume created for database, name must match mongo volumes section
volumes:
  mongodbdata:
