version: "3"

# Setup Node.js container / MondoDB containers

## Need to add Subnet info - confirm with Jordin

services:
  server:
    build: ./server
    # node runs server app
    command: npm run start
    # use gitlab url to sugoi/custom-proofs/server docker image registry
    image: gitlab url
    restart: always
    ports:
    ## This needs to change to available web server ports - confirm with Jordin/Jonathan
      - "${PORT}:${PORT}"
    # mounts volume for persistant data
    # also mounts volume for node_modules on mac / not sure if needed for server
    volumes:
      - ./server:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - mongo
    links:
      - mongo
    # env file needs to be changed to name of your env file (eg .env)
    env_file:
      - env file
  mongo:
    container_name: mongo
    restart: always
    image: mongo
    # ports for mongodb is always 27017
    ports:
      - "27017:27017"
	  # Creates volume to persist database data with server folder
    volumes:
      - mongodbdata:/data/db
    # these set mongodb admin and password when first deployed, set in env file
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
    # starts mongo in -authenticated necessary mode
    command: mongod --auth
# do not change lines below (creates volume on server named mongodbdata which persists /data/db above in mongo docker service)
# if you change name, also needs to change in volumes in mongo service above
volumes:
  mongodbdata:
