DB_HOST=mongodb://initUser:initpass@mongo:27017/sugoi-proofs?authSource=admin  (copy user and pass from above into initUser and initPass)
PORT=5000 (usually 5000 for node)
NODE_ENV=development or production
SESSION_SECRET=anyString
