<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/_head.ejs %>
</head>

<body>
  <% include ./partials/_navbar.ejs %>
  <div class="container">
    <h1>File Upload</h1>
    <%= typeof msg != 'undefined' ? msg : "" %>
    <br>
    <%= typeof file != 'undefined' ? file : '' %>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <input type="file" name="myFile" class="form-control-file" id="uploadFile" placeholder="Select a ZIP file...">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>


  <% include ./partials/_scripts.ejs %>
</body>

</html>