body,
html {
  font-family: "Roboto", sans-serif;
}

.brand-logo > span,
.brand-logo > img {
  vertical-align: middle;
}

.fas {
  font-size: 12px;
}

.instructions {
  margin-bottom: 50px;
}

.rights-header {
  font-size: 14px;
  margin-bottom: 10px;
}

.rights {
  margin-bottom: 40px;
}

.nav-wrapper a {
  font-size: 14px;
}

.dropdown-trigger a {
  font-size: 14px;
}

#dropdown1 a {
  font-size: 12px;
}

.select-dropdown li span {
  font-size: 14px;
}

.select-dropdown.dropdown-content {
  max-height: 400px;
  overflow-y: auto !important;
}

thead {
  font-size: 12px;
}

.child {
  font-size: 12px;
}

.status {
  text-align: center;
  min-width: 125px;
  font-size: 12px;
}

.instructionsBox {
  max-height: 400px;
  overflow-y: auto;
  color: black;
  font-size: 12px;
}

.collapsible-header {
  background-color: lightgrey;
  font-size: 12px;
  padding: 10px;
}
.collapsible-body {
  background-color: white;
  padding: 10px;
  text-align: justify;
}
.small {
  width: 275px;
  height: 390px !important;
  margin: 10px;
}
#proofWindow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.activator {
  cursor: pointer;
}

.card-reveal {
  font-size: 14px;
}
