body,
html {
  font-family: "Roboto", sans-serif;
}

.brand-logo > span,
.brand-logo > img {
  vertical-align: middle;
}

.fas {
  font-size: 12px;
}

.instructions {
  width: 100%;
}

.detailsBox {
  margin-top: 10px;
}

.rights-header {
  font-size: 14px;
  margin-bottom: 10px;
}

.rights {
  margin-bottom: 40px;
}

.nav-wrapper a {
  font-size: 14px;
}

.navbar-fixed {
  margin-bottom: 5px;
}

.dropdown-trigger a {
  font-size: 14px;
}

#dropdown1 a {
  font-size: 12px;
}

.select-dropdown li span {
  font-size: 14px;
}

.select-dropdown.dropdown-content {
  max-height: 400px;
  overflow-y: auto !important;
}

thead {
  font-size: 12px;
}

.child {
  font-size: 12px;
}

.status {
  text-align: center;
  min-width: 100px;
  font-size: 12px;
  font-weight: 900;
}

.instructionsBox {
  max-height: 450px;
  overflow-y: auto;
  color: black;
  font-size: 12px;
}

.collapsible-header {
  font-size: 12px;
  padding: 10px;
}
.collapsible-body {
  padding: 10px;
  text-align: justify;
  white-space: pre-line;
}

.collapsible li.active i.left {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.small {
  width: 175px;
  height: 340px !important;
  margin: 10px 5px;
}
#proofWindow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.activator {
  cursor: pointer;
}

.card-reveal {
  font-size: 14px;
}

.tooltipped {
  font-size: 20px;
}

.main-loader {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 50;
}
.myFilter {
  float: left;
}

#prodTable_wrapper.dataTables_wrapper {
  width: 95vw;
  margin: 0 auto;
}

#orderTable_wrapper.dataTables_wrapper {
  width: 85vw;
  margin: 0 auto;
}

.group.group-start {
  font-size: 14px;
}

.modal-content {
  max-height: 600px;
  overflow: auto;
}
