<div class="container">
  <div class="row">
    <div class="col s12">
      <h5>Order Confirmation</h5>
    </div>
  </div>
  <div class="row">
    <div class="col s4">
      <div class="input-field col s12">
        <input type="text" name="orderNum" id='orderNum'>
        <label for="orderNum">Order #:</label>
      </div>
      <div class="input-field col s12">
        <select name="isr" id="isr">
          <option value=""></option>
          <option value="AHOOGEVEEN">AHOOGEVEEN</option>
          <option value="DOSULLIVAN">DOSULLIVAN</option>
          <option value="RPILLER">RPILLER</option>
          <option value="SROBINSON">SROBINSON</option>
          <option value="MBELLEAU">MBELLEAU</option>
        </select>
        <label for="isr">Custom Rep:</label>
      </div>
      <div class="input-field col s12">
        <select name="currency" id="currency">
          <option value=""></option>
          <option value="CAD">CAD</option>
          <option value="USD">USD</option>
        </select>
        <label for="currency">Currency:</label>
      </div>
    </div>
    <div class="col s4">
      <div class="input-field col s12">
        <input type="text" name="accountName" id='accountName'>
        <label for="accountName">Account Name:</label>
      </div>
      <div class="input-field col s12">
        <input type="text" name="customerPO" id='customerPO'>
        <label for="customerPO">Customer PO:</label>
      </div>
      <div class="input-field col s12">
        <input type="text" name="shipToName" id='shipToName'>
        <label for="shipToName">Ship To Name:</label>
      </div>
      <div class="input-field col s12">
        <input type="text" name="shipToAddress" id='shipToAddress'>
        <label for="shipToAddress">Ship To Address:</label>
      </div>
      <div class="input-field col s12">
        <input type="text" name="city" id='city'>
        <label for="city">City:</label>
      </div>
      <div class="input-field col s12">
        <input type="text" name="stateProvince" id='stateProvince'>
        <label for="stateProvince">State / Province:</label>
      </div>
      <div class="input-field col s12">
        <input type="text" name="country" id='country'>
        <label for="country">Country:</label>
      </div>
      <div class="input-field col s12">
        <input type="text" name="postalCode" id='postalCode'>
        <label for="postalCode">Postal Code:</label>
      </div>

    </div>
  </div>
</div>