<div class="container" style="margin-top: 20px; margin-bottom: 50px;">
  <h5 class='center-align'>Custom Order Reports</h5>
  <!-- Dropdown Trigger -->
  <a class='dropdown-trigger btn' href='#' data-target='weekSelector' style="width: 200px;">Select Week</a>

  <!-- Dropdown Structure -->
  <ul id='weekSelector' class='dropdown-content'>
    {{#each reports}}
    <li><a href="#!" style="font-size: 10px;" class="center-align">{{reportWeekRange}}</a></li>
    {{/each}}
  </ul>
  <hr>
  <div id="chart"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
  var options = {
    chart: {
      type: 'line'
    },
    series: [{
      name: 'sales',
      data: [30, 40, 35, 50, 49, 60, 70, 91, 125]
    }],
    xaxis: {
      categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999]
    }
  }

  var chart = new ApexCharts(document.querySelector("#chart"), options);

  chart.render();
</script>