<div class="main-loader valign-wrapper center-align">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="container">
    <h3>Zip Upload</h3>
    <form action="/proofs/upload" method="POST" enctype="multipart/form-data">
      <div class="file-field input-field">
        <div class="btn grey">
          <span>File</span>
          <input name="ziptoUpload" type="file" accept=".zip">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="choose zip file">
        </div>
      </div>
      <button type="submit" class="btn-small waves-effect waves-light green" onclick="showLoader()"><i class="material-icons">
          save
        </i> Upload</button>
      <a href="javascript:history.back()" id="cancel" name="cancel" class="btn-small waves-effect waves-light red"><i
          class="fas fa-times"></i>
        Cancel</a>
    </form>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('.main-loader').css('display', 'none');
  });

  function showLoader() {
    $('.main-loader').css('display', 'block');
  }
</script>